@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(209, 203, 203);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;

}

a {
    display: flex;
    align-items: center;
    height: 4px;
    width: max-content;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 15px;
    margin: 10px;
}

a:hover {
    background-color: grey;
}

body {
    background-color: #808080;
}

h1 {
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
}

#start {
    width: 70px;
    height: 25px;
    margin: 20px;
    border: 2px solid;
    border-radius: 5px;
}

#reset {
    width: 70px;
    height: 25px;
    margin: 20px;
    border: 2px solid;
    border-radius: 5px;
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;

}

.box {
    border: 2px solid;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameInfo {
    padding: 34px;
}

.imgbox img {
    width: 0px;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}